In [2]:
import pandas as pd

In [6]:
kaggle_df = pd.read_csv(r'Resources/Kepler Exoplanets.csv')
data_world_df = pd.read_csv(r'Resources/cumulative.csv')

In [8]:
kaggle_df.head()

,pl_hostname,pl_letter,pl_name,pl_discmethod,pl_controvflag,pl_pnum,pl_orbper,pl_orbpererr1,pl_orbpererr2,pl_orbperlim,...,st_masslim,st_massn,st_rad,st_raderr1,st_raderr2,st_radlim,st_radn,pl_nnotes,rowupdate,pl_facility
0,Kepler-128,b,Kepler-128 b,Transit,0,2,15.090000,NaN,NaN,0.0,...,0.0,6,1.61,0.10,-0.07,0.0,9,2,9/15/2016,Kepler
1,Kepler-128,c,Kepler-128 c,Transit,0,2,22.804000,NaN,NaN,0.0,...,0.0,6,1.61,0.10,-0.07,0.0,9,2,9/15/2016,Kepler
2,Kepler-129,b,Kepler-129 b,Transit,0,2,15.791860,0.000068,-0.000068,0.0,...,NaN,3,1.64,0.05,-0.05,0.0,6,1,5/14/2014,Kepler
3,Kepler-129,c,Kepler-129 c,Transit,0,2,82.200170,0.000680,-0.000680,0.0,...,NaN,3,1.64,0.05,-0.05,0.0,6,1,5/14/2014,Kepler
4,Kepler-130,b,Kepler-130 b,Transit,0,3,8.457458,0.000039,-0.000039,0.0,...,NaN,3,1.13,0.03,-0.03,0.0,7,1,5/14/2014,Kepler

In [9]:
data_world_df.head()

,rowid,kepid,kepoi_name,kepler_name,koi_disposition,koi_pdisposition,koi_score,koi_fpflag_nt,koi_fpflag_ss,koi_fpflag_co,...,koi_steff_err2,koi_slogg,koi_slogg_err1,koi_slogg_err2,koi_srad,koi_srad_err1,koi_srad_err2,ra,dec,koi_kepmag
0,1,10797460,K00752.01,Kepler-227 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
1,2,10797460,K00752.02,Kepler-227 c,CONFIRMED,CANDIDATE,0.969,0,0,0,...,-81.0,4.467,0.064,-0.096,0.927,0.105,-0.061,291.93423,48.141651,15.347
2,3,10811496,K00753.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,-176.0,4.544,0.044,-0.176,0.868,0.233,-0.078,297.00482,48.134129,15.436
3,4,10848459,K00754.01,NaN,FALSE POSITIVE,FALSE POSITIVE,0.000,0,1,0,...,-174.0,4.564,0.053,-0.168,0.791,0.201,-0.067,285.53461,48.285210,15.597
4,5,10854555,K00755.01,Kepler-664 b,CONFIRMED,CANDIDATE,1.000,0,0,0,...,-211.0,4.438,0.070,-0.210,1.046,0.334,-0.133,288.75488,48.226200,15.509

In [ ]:
###--- *Keplar_name* in #kaggle_df# is the same as *pl_name* in #data_world_df# ---###